<h1>Welcome#Sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "Message from controller :  
#{@controller_message}" %>

<br /><br />
<%= link_to("Go to Index",
 		{:action => 'index',
 		 :id => 5, :random => 'random'}) %>